<template name="dashboard">
<div class="col-md-5">
  <form class="new-submit">
    <label for="selectDate">Veuillez réserver une date: </label>
    <input type="date" name="date" required>
    <br>
    <br>
    <label for="selectSalle">Veuillez choisir un type de salle: </label>
    <select name="cat" required>
      {{#each cats}}
        {{>cat}}
      {{/each}}
    </select> 
    <br>
    <br>
    <label for="selectHoraire">Veuillez choisir une plage d'horaire: </label>
      {{#each hours}}
      <input type="radio" value={{plage}} name="plage" class="plage" required>&nbsp;{{plage}}&nbsp;
      {{/each}}
    <br>
    <br>
    <label>Veuillez indiquez le nombre de personnes à accueillir: </label>
    <select id="monselect" name="selector" required>
      {{ >selector}}
    </select>
    <br><br>
    <input type="submit" class="btn" value="Vérifier les salles disponibles">
    <br><br>
  </form>
  {{#if IsChecked}}
  <form class="new-resa">
    <div>    
    {{#each salles}}
        {{> salle}}
    {{/each}}
    </div>
    <br>
    <input type="submit" class="btn" value="Réserver">
  </form>
  {{/if}}
  </div>
  <div class="col-md-6">
    <p>Tapez un mot ou une date dans la barre de recherche (Foot, Salle 3, etc..):</p>  
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <ul class="list-group" id="myList">
      {{#each resas}}
        {{> resa}}
      {{/each}}
    </ul>  
  </div>

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myList li").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
</template>