<template name= "espace">
    <div style="margin-left:1%">
    {{#if IsAdmin}}
        <div class="col-md-6">
            <form class="ligues">
            <p>Veuillez selectionnez une ligue: </p>
            {{#each ligues}}
            <input type="radio" value={{nom}} name="ligue" class="ligue" required> {{nom}}&nbsp;
            {{/each}} &nbsp;
            <input type="submit" class="btn" value="Valider">
            </form>
            <br>
            <ul style="padding-left: 15px">
            {{#each membres}}
                {{> membre}}
            {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <p>Liste des membres des modérateurs et administrateurs: </p><br>
            <ul>
            {{#each admins}}
                {{> admin}}
            {{/each}} 
            </ul>
        </div>
    {{/if}}
    {{#if IsModo}}
        <div>
        <form class="ligues">
        <p>Veuillez selectionnez une ligue: </p>
        {{#each ligues}}
        <input type="radio" value={{nom}} name="ligue" class="ligue" required> {{nom}}&nbsp;
        {{/each}} &nbsp;
        <input type="submit" class="btn" value="Valider">
        </form>
        <br>
        </div>
        <div>
        <ul style="padding-left: 15px">
        {{#each membres}}
            {{> membre}}
        {{/each}}
        </ul>
        </div>
    {{/if}}
    {{#if IsPres}}
        <p>Liste des membres de votre Ligue: </p><br>
        <ul>
        {{#each members}}
            {{> membre}}
        {{/each}} 
        </ul>  
    {{/if}}
    </div>
</template>