<template name="lobby">
    <h1 style="text-align:center">Bienvenue dans la Maison des Ligues</h1><br>
    {{#if signUp}}
    <div style="text-align:center">{{> register}}</div>
    {{else}}
    <div style="text-align:center">{{> login}}</div>
    {{/if}}
</template>