<template name="login">
    <form class="container" style="width: 500px">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur ou Email" required>
        </div>    
        <br>    
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
        </div>
        <br>
        <input type="submit" class="btn" style="text-align:center" value="Login">
    </form>
</template>