<template name= "membre">
    <li>
        <form class="confirm">
        <span><strong>{{username}}</strong> statut: <strong>{{profile.status}}</strong></span>                    
        {{#if Modify}}
        <button type="button" class="cancel btn">Annuler</button>
        <select id="monselect" name="selector" required>
            <option value="pres">Président</option>
            <option value="resp">Responsable</option>
            <option value="membre">Membre</option>
        </select> &nbsp;
        <input type="submit" class="btn" value="Confirmer">
        {{else}}
            <button type="button" class="modify btn">Modifier le statut</button>
        {{/if}}
        </form>
    </li>
    <br>
</template>