<template name="navbar">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Maison des ligues</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Bonjour {{currentUser.username}}</a></li>
                {{#if IsAdmin}}
                    <li><a href="#" class="admin"><span class="glyphicon glyphicon-cog"></span> Espace administrateur</a></li>
                {{/if}}
                {{#if IsModo}}
                    <li><a href="#" class="modo"><span class="glyphicon glyphicon-cog"></span> Espace modérateur</a></li>
                    <li><a href="#" class="synthese"><span class="glyphicon glyphicon-cog"></span> Synthèse</a></li>

                {{/if}}
                {{#if IsPres}}
                    <li><a href="#" class="pres"><span class="glyphicon glyphicon-cog"></span> Espace président</a></li>
                {{/if}}
                <li><a href="#" class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>                    
            {{else}}
                <li><a href="#" class="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#" class="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
</template>