<template name="register">
    <form class="container" style="width: 500px"> 
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
        </div>
        <br>
        <div class="form-group">
            <select class="form-control" name="team" required>
                {{#each teams}}
                <option value="{{nom}}">{{nom}}</option>
                {{/each}}
            </select>
          </div>
        <input type="submit" class="btn" style="text-align:center" value="Register">
    </form>
</template>