<template name="resa">
    <li style="text-align: left">
      <span class="text"><strong>Salle {{num}}</strong> réservée par le club de <strong>{{team}}</strong> le <strong>{{hour}}</strong> pour le <strong>{{date}}</strong></span>
      &nbsp;<button class="delete">&times;</button>
    </li>&nbsp;
    {{#if Motif}}
    <form class="annuler">
    Motif: <input type="text" class="motif" id="motif">&nbsp;
    <input type="submit" class="btn" value="Valider">
    </form>
    {{/if}}

    <br>
  </template>