<template name="salle">
    <input type="radio" value={{num}} name="salle" class="salle" required>Salle {{num}} ({{volume}} pers)
    <a href="#" data-toggle="tooltip" data-placement="bottom" title={{info}}>
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <!--<button type="click" class="here">Here</button>-->
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</template>