<template name="synthese">
    <!--<selector>
    <option value="01">Janvier</option><option value="02">Février</option><option value="03">Mars</option><option value="04">Avril</option>
        <option value="05">Mai</option><option value="06">Juin</option><option value="07">Juillet</option><option value="08">Aout</option>
            <option value="09">Septembre</option><option value="10">Octobre</option><option value="11">Novembre</option><option value="12">Décembre</option>
        </selector>-->
        <div style="margin-left: 20px">
        {{#each res}}
        {{> resa}}
        {{/each}}
        <br>
        Nombre de réservation effectuées: {{nb}}
        <br>
        {{#each res1}}
        {{> resa}}
        {{/each}}
        <br>
        Nombre de réservation déplacées: {{nb1}}
        <br>
        {{#each res2}}
        {{> resa}}
        {{/each}}
        <br>
        Nombre de réservation annulées: {{nb2}}

    </div>
</template>